Forms/FourRowClient/FourRowClient/Connected Services/FourRowServiceReference/item14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfFourRowService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfFourRowService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserAlreadyConnectedFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserAlreadyConnectedFault" nillable="true" type="tns:UserAlreadyConnectedFault" />
  <xs:complexType name="UserDoesntExistsFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDoesntExistsFault" nillable="true" type="tns:UserDoesntExistsFault" />
  <xs:complexType name="WrongPasswordFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WrongPasswordFault" nillable="true" type="tns:WrongPasswordFault" />
  <xs:complexType name="UserExistsFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserExistsFault" nillable="true" type="tns:UserExistsFault" />
  <xs:complexType name="OpponentDisconnectedFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OpponentDisconnectedFault" nillable="true" type="tns:OpponentDisconnectedFault" />
  <xs:simpleType name="MoveResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="YouWon" />
      <xs:enumeration value="YouLose" />
      <xs:enumeration value="Draw" />
      <xs:enumeration value="NotYourTurn" />
      <xs:enumeration value="GameOn" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MoveResult" nillable="true" type="tns:MoveResult" />
</xs:schema>