Forms/FourRowClient/FourRowClient/Connected Services/FourRowServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfFourRowService/Service1/?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfFourRowService/Service1/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="clientConnected">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hashedPasswd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clientConnectedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="clientRegisterd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hashedPasswd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clientRegisterdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="clientDisconnected">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clientDisconnectedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="clientDisconnectedBeforeGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opponent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whosOut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clientDisconnectedBeforeGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="clientDisconnectedThrowGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentPlayer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opponent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whosOut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clientDisconnectedThrowGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="wantToPlayWithClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentPlayer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opponent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wantToPlayWithClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="opponentAcceptToPlay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentPlayer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opponent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="opponentAcceptToPlayResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="opponentDeclineToPlay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentPlayer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opponent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="opponentDeclineToPlayResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getClientsThatNotPlayNow">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getClientsThatNotPlayNowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getClientsThatNotPlayNowResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUsersGamesHistory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUsersGamesHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAllUsersGamesHistoryResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersInDB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersInDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllUsersInDBResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUsersGamesHistoryOrderedByName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUsersGamesHistoryOrderedByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAllUsersGamesHistoryOrderedByNameResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUsersGamesHistoryOrderedByGames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUsersGamesHistoryOrderedByGamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAllUsersGamesHistoryOrderedByGamesResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUsersGamesHistoryOrderedByWins">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUsersGamesHistoryOrderedByWinsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAllUsersGamesHistoryOrderedByWinsResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUsersGamesHistoryOrderedByLoses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUsersGamesHistoryOrderedByLosesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAllUsersGamesHistoryOrderedByLosesResult" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUsersGamesHistoryOrderedByPoints">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUsersGamesHistoryOrderedByPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAllUsersGamesHistoryOrderedByPointsResult" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="allTheGamesThatPlayesSoFar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="allTheGamesThatPlayesSoFarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="allTheGamesThatPlayesSoFarResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="allTheGamesThatPlayesNow">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="allTheGamesThatPlayesNowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="allTheGamesThatPlayesNowResult" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="allTheGamesBetweenTwoClients">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="allTheGamesBetweenTwoClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="allTheGamesBetweenTwoClientsResult" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="allTheGamesOfSomeClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="allTheGamesOfSomeClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="allTheGamesOfSomeClientResult" nillable="true" type="q12:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reportMove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentPlayer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opponent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whoMoved" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="location" type="xs:int" />
        <xs:element minOccurs="0" name="pointX" type="xs:double" />
        <xs:element minOccurs="0" name="pointY" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reportMoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="reportMoveResult" nillable="true" type="q13:TupleOfMoveResultint8Ro5gioI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMeBackToWaitingList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMeBackToWaitingListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMyPos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentPlayer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opponent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whoWantIt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMyPosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMyPosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setMyPos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentPlayer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opponent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whoWantIt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setMyPosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="killTheGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentPlayer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opponent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="killTheGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="clearUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="clearUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clearUsersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="pingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OtherPlayerMoved">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="moveResult" nillable="true" type="q14:TupleOfMoveResultint8Ro5gioI" />
        <xs:element minOccurs="0" name="pointX" type="xs:double" />
        <xs:element minOccurs="0" name="pointY" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyOpponentChallenge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentPlayer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeyOpponentDeclineToPlay">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpponentAcceptToPlayLetsStart">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LetsStart">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpponentDisconnectedBeforeTheGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpponentDisconnectedThrowGameYouWon">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>